ul {
    list-style: none;
}
.calculator {
	margin: 0 auto;
	padding: 25px;
	width: 300px;

	background-color: #eee;
	text-align: center;
}

.calculator__display {
	background-color: #ddd;
	width: 200px;
    height: 100px;
	margin-bottom: 20px;
}

.calculator__button-container {

}

.button-container__numbers {
    width: 200px;
	padding: 5px;
}

.button-container__symbols {
    width: 80px;
}

.numbers-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
}

.symbols-button{
	width: 50px;
	height: 100px;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
}

.symbols-button:last-child{
	width: 100px;
	height: 50px;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
}