@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap');

.calculator {
	position: relative;
	top: 10vh;
	margin: 0 auto;
	padding: 40px;
	width: 350px;
	height: 420px;
	background-color: #030303;
	border-radius: 10%;
}

.display {
	border: 2px solid rgb(61, 61, 61);
	background-color: #b7fa00;
	height: 100px;
	margin-bottom: 20px;
	padding: 5px;
	font-family: 'Orbitron', sans-serif;
	font-weight: 700;
	font-size: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.button-container {
	display: flex;
	width: 100%;
}

.button-container__numbers,
.button-container__symbols {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.button-container__numbers {
	width: 80%;
}
.button-container__symbols {
	width: 20%;
}
.button-numbers {
	width: 50px;
	height: 50px;
	border: 2px solid rgb(18, 18, 42);
	border-radius: 50%;
	background-color: rgb(104, 104, 224);
	color: #ffffff;
	cursor: pointer;
	margin-right: 20px;
	margin-bottom: 10px;
}

.button-numbers:last-child {
	width: 88%;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0;
}

.button-symbols {
	width: 70px;
	height: 50px;
	cursor: pointer;
	margin-bottom: 10px;
	border: 2px solid rgb(74, 31, 12);
	border-radius: 5px;
	color: #ffffff;
	background-color: rgb(251, 103, 40);
}

.button-symbols:first-child {
	border: 2px solid rgb(35, 35, 35);
	background-color: rgb(121, 121, 121);
}
.button-symbols:last-child {
	margin: 0;
	border: 2px solid rgb(17, 17, 56);
	background-color: rgb(65, 65, 227);
}

.result {
	background-color: rgb(13, 255, 0);
}
